
form{
    margin-top: 300px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    input{
        padding: 12px;
        width: 400px;
        outline: none;
        border: 2px solid blue;
    }
    button{
        padding: 12px 20px;
        background-color: rgb(70, 70, 245);
        border: 1px solid blue;
        border-radius: 5px;
        cursor: pointer;
        color: #fff;
    }
    button:hover{
        color: blue;
        background-color: #fff;
        transition: .3s;
    }
}
.users{
 border: 1px solid gray;
 border-radius: 8px;
 background-color: rgb(195, 195, 255);
 color: black;
 display: flex;
 padding:  0 20px;
 align-items: center;
 justify-content: space-between;
 margin-top: 20px;
 width: 500px;
 margin: 0 auto;
 button{
    border: none;
    background-color: blue;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
 }
}
.trash{
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
.mt{
    display: flex;
    flex-direction: column;
    gap: 30px;
}