form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    input{
        padding: 10px;
        margin: 0 20px;
        outline: none;
    }
    button{
    padding: 10px;
    width: 150px;
    margin: 0 auto;
    }
}
.mt{
    margin-top: 150px;
}